# IntelliJ project files
.idea
/out/
/src/test/

# Gradle Files
/.gradle/
/build/

# Data Files
config.txt
testConfig.txt
*.json
*.mv.db
*.h2.db
*.lock.db
*.trace.db

# Misc Files
/wiki/
/Extensions/
/scripts/
/bash/
/backup/

# Images
*.gif
*.jpg
*.png