# Modules
/Backend-Adapter/

# IntelliJ project files
.idea
/out/
/src/test/
/src/main/resources/

# Gradle Files
/.gradle/
/build/

# Data Files
/logs/
*.txt
*.json
*.mv.db
*.h2.db
*.lock.db
*.trace.db

# Misc Files
/wiki/
/bash/
/backup/
*.sh
*.sql

# Images
*.gif
*.jpg
*.png